:root {
    --grey-green: rgb(233, 245, 219);
    --dim-green: rgb(207, 225, 185);
    --celadon-green: rgb(181, 201, 154);
    --olive-green: rgb(151, 169, 124);
    --moss-green: rgb(113, 131, 85);
}